---
import "photoswipe/style.css";
import { Image } from "astro:assets";
import bigFlowerImage from "../../../assets/svg/big-flower.svg";
import cuencaRisaImage from "../../../assets/img/risas/cuenca-risa.jpg";
import amberesImage from "../../../assets/img/risas/amberes-love-2.jpg";
import belgicaBesoImage from "../../../assets/img/risas/belgica-beso.jpg";
import valenciaRisaImage from "../../../assets/img/risas/valencia-risa.jpg";
import navidadRisaImage from "../../../assets/img/risas/navidad-risa.jpg";
import { useI18n } from "../../../utils/i18n";
import { getImage } from "astro:assets";
const cuencaRisaImageOptimize = await getImage({ src: cuencaRisaImage });
const amberesImageOptimize = await getImage({ src: amberesImage });
const belgicaBesoImageOptimize = await getImage({ src: belgicaBesoImage });
const valenciaRisaImageOptimize = await getImage({ src: valenciaRisaImage });
const navidadRisaImageOptimize = await getImage({ src: navidadRisaImage });
const { t } = useI18n(Astro.url);
---

<div
  class="smiles-section relative w-full min-h-screen flex flex-col justify-center items-center overflow-hidden py-28 pb-60"
>
  <div
    class="smiles-content content-wrapper relative z-10 flex flex-col justify-center"
    id="my-gallery"
  >
    <div class="flex gap-4 md:gap-8 xl:gap-12">
      <figure class="relative top-32">
        <a
          href={navidadRisaImageOptimize.src}
          data-pswp-width="684"
          data-pswp-height="912"
          target="_blank"
          aria-label="hacer imagen grande"
        >
          <Image width={400} src={navidadRisaImage} alt="" />
        </a>
      </figure>
      <figure>
        <a
          href={cuencaRisaImageOptimize.src}
          data-pswp-width="912"
          data-pswp-height="684"
          target="_blank"
          aria-label="hacer imagen grande"
        >
          <Image width={550} src={cuencaRisaImage} alt="" />
        </a>
      </figure>
      <figure class="relative top-12">
        <a
          href={amberesImageOptimize.src}
          data-pswp-width="684"
          data-pswp-height="912"
          target="_blank"
          aria-label="hacer imagen grande"
        >
          <Image width={375} src={amberesImage} alt="" />
        </a>
      </figure>
    </div>

    <h3
      class="text-6xl sm:text-7xl text-center tracking-wide leading-[5.5rem] bg-white self-center my-28"
      set:html={t("ourStory.smiles.title")}
    />
    <div class="flex self-center w-full">
      <figure class="w-1/2 relative px-4 flex justify-center -top-10">
        <a
          href={valenciaRisaImageOptimize.src}
          data-pswp-width="938"
          data-pswp-height="704"
          target="_blank"
          aria-label="hacer imagen grande"
        >
          <Image width={550} src={valenciaRisaImage} alt="" />
        </a>
      </figure>
      <figure class="w-1/2 px-4 flex justify-center">
        <a
          href={belgicaBesoImageOptimize.src}
          data-pswp-width="938"
          data-pswp-height="704"
          target="_blank"
          aria-label="hacer imagen grande"
        >
          <Image width={550} src={belgicaBesoImage} alt="" />
        </a>
      </figure>
    </div>
  </div>
  <figure class="absolute w-full overflow-hidden flex justify-center">
    <Image
      class="max-w-[190%] sm:max-w-full xl:max-w-[1300px]"
      width={1300}
      src={bigFlowerImage}
      alt=""
    />
  </figure>
</div>

<script>
  import { gsap } from "../../../utils/animations";
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const smileImages = document.querySelectorAll(
    ".smiles-section>.smiles-content figure",
  );

  const timeline = gsap.timeline({
    scrollTrigger: {
      trigger: ".smiles-section",
      start: "top top",
      end: "center-=20% top",
      scrub: true,
    },
  });

  smileImages.forEach((image) => {
    timeline.to(
      image,
      {
        ease: "none",
        yPercent: gsap.utils.random(-100, -50),
      },
      0,
    );
  });

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
    arrowPrev: false,
    arrowNext: false,
    counter: false,
    zoom: false,
  });
  lightbox.init();
</script>
