---
import leafTitleSVG from "../../assets/svg/leafTitle.svg";
import startHourSVG from "../../assets/svg/startHour.svg";
import partyIconSVG from "../../assets/svg/partyIcon.svg";
import ringsIconSVG from "../../assets/svg/ringsIcon.svg";
import toastIconSVG from "../../assets/svg/toastIcon.svg";
import dinnerIconSVG from "../../assets/svg/dinnerIcon.svg";
import hojaSVG from "../../assets/svg/hoja.svg";
import { Image } from "astro:assets";
import endHourSVG from "../../assets/svg/end-hour.svg?raw";
import { useI18n } from "../../utils/i18n";
const { t } = useI18n(Astro.url);
---

<section
  id="plan"
  class="plan-section relative flex items-center flex-col md:mb-40 md:py-32 overflow-hidden"
>
  <div class="mb-20 flex flex-col justify-center items-center">
    <h2 class="text-4xl uppercase">{t("plan.title")}</h2>
    <Image src={leafTitleSVG} alt="" />
  </div>

  <div
    class="leaf-top absolute self-end -right-96 sm:-right-80 top-40 mt-80 z-20"
  >
    <Image src={hojaSVG} alt="" />
  </div>

  <div
    class="leaf-bottom absolute rotate-180 -left-96 sm:-left-80 mt-36 bottom-64 z-20"
  >
    <Image src={hojaSVG} alt="" />
  </div>

  <div class="relative content-wrapper flex items-center flex-col">
    <Image src={startHourSVG} alt="" />

    <div class="plan-items relative mt-28 w-full flex flex-col">
      <div
        class="line-separator block absolute self-center bg-[#333] w-[1px] h-2 opacity-10"
      >
      </div>
      <div class="flex w-full sm:w-1/2 my-8 justify-center">
        <div
          class="toast-item text-center font-arizonia text-gold-500 bg-slate-200 z-10 py-4"
        >
          <Image src={toastIconSVG} alt="" />
          <h3 class="text-3xl mt-4">{t("plan.toast")}</h3>
        </div>
      </div>
      <div class="flex justify-center w-full sm:w-1/2 self-end my-8">
        <div
          class="rings-item text-center font-arizonia text-gold-500 bg-slate-200 z-10 py-4"
        >
          <Image src={ringsIconSVG} alt="" />
          <h3 class="text-3xl mt-4">{t("plan.ceremony")}</h3>
        </div>
      </div>
      <div class="flex w-full sm:w-1/2 justify-center my-8">
        <div
          class="dinner-item text-center font-arizonia text-gold-500 bg-slate-200 z-10 py-4"
        >
          <Image src={dinnerIconSVG} alt="" />
          <h3 class="text-3xl mt-4">{t("plan.dinner")}</h3>
        </div>
      </div>
      <div class="flex justify-center w-full sm:w-1/2 self-end my-8">
        <div
          class="party-item text-center font-arizonia text-gold-500 bg-slate-200 z-10 py-4"
        >
          <Image src={partyIconSVG} alt="" />
          <h3 class="text-3xl mt-4">{t("plan.party")}</h3>
        </div>
      </div>
    </div>
    <figure class="my-10">
      <Fragment set:html={endHourSVG} />
    </figure>
  </div>
</section>
<script>
  import { gsap } from "../../utils/animations";
  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".plan-items",
      start: "top center",
      // end: "+=1200",
      end: "bottom center",
      scrub: true,
    },
  });

  tl.to(
    ".line-separator",
    {
      ease: "none",
      duration: 1,
      height: "100%",
      opacity: 1,
      scrollTrigger: {
        trigger: ".plan-items",
        start: "top center",
        end: "bottom center",
        scrub: true,
      },
    },
    0,
  );

  tl.from(".toast-item", {
    opacity: 0.2,
    duration: 0.75,
    color: "#333",
  });

  tl.from(".rings-item", {
    opacity: 0.2,
    duration: 0.75,
    delay: 0.35,
    color: "#333",
  });

  tl.from(".dinner-item", {
    opacity: 0.2,
    duration: 0.75,
    delay: 0.7,
    color: "#333",
  });

  tl.from(".party-item", {
    opacity: 0.2,
    duration: 0.75,
    delay: 1,
    color: "#333",
  });

  tl.from(
    ".leaf-top",
    {
      right: -400,
      duration: 1,
    },
    0,
  );

  tl.from(".leaf-bottom", {
    left: -400,
    duration: 1,
    delay: 0.7,
  });

  tl.to(".end-hour-svg .end-hour-svg--fill", {
    fillOpacity: 1,
    duration: 1,
    delay: 1,
  });
</script>
